.Rproj.user
.Rhistory
.RData
*.Rproj
*.pdf
*.xlsx
*.gz
*.tex
.DS_Store
lectures/*.md
lectures/*.html
lectures/*_files/
lectures/libs
lectures/index.Rmd
lectures/_site.yml
practicals/index.Rmd
practicals/_site.yml
README.html
