<style type="text/css">

  .bg-orange {
    background-color: #FF8C00;
  }

  .box.bg-orange {
    border: 2px solid #804600;
    color: #000;
  }

  .box.bg-orange > h3:first-child {
    background-color: #804600;
    color: #fff;
  }
</style>
