/* Fix to avoid an oversized green box */
div.solution > h2, div.box > h2 {
    padding-top: 0;
    margin-top: 0;
}

.float-r {
  position: relative;
  float: right;
  z-index: 999;
  padding: 10px;
}

.float-l {
  position: relative;
  float: left;
  z-index: 999;
  padding: 10px;
}

div.float-r img, div.float-r img {
  display: flex;
}

